/*Menu*/

@media (max-width: 767px) {
    .menu {
        grid-column: 1/4;
    }
}

/*List*/

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
@media (max-width: 767px) {
    .menu__list {
        text-align: center;
        display: none;
    }
    .menu__list--open {
        display: grid;
    }
}
@media (min-width: 768px) {
    .menu__list {
        display: grid;
        grid-auto-flow: column;
        height: 100%;
        align-items: center;
    }
}

/*Item*/

.menu__item {
    text-transform: uppercase;

}
@media (max-width: 767px) {
    .menu__item {
        padding: 22px 0 24px 0;
        border-top: 1px solid var(--border-color);
    }
}

/*Link*/

.menu__link {
    color: var(--basic-black);
    text-decoration: none;
}
@media (max-width: 767px) {
    .menu__link {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;

    }
}
@media (min-width: 768px) and (max-width: 1439px) {
    .menu__link {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding: 12px;
    }
    .menu__link:hover {
        border-bottom: 2px solid var(--basic-green);
    }

}